@charset "UTF-8";
@import url(font-awesome.min.css);
/* Reset */
@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,  img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend,  caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ul.dates, ul#pbox, ul#pbox_result, .sideBar ul { list-style: none; margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

ul.dates li, ul#pbox li, ul#pbox_result li, .sideBar ul li { margin: 0; padding: 0; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@keyframes fadeIn { from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; } }
@keyframes slideUp { from { transform: translateY(10%); }
  to { transform: translateY(0); } }
@keyframes slideDown { from { transform: translateY(-100px); }
  to { transform: translateY(0); } }
input[type="button"], input[type="submit"], .newsWrp .news .title a, .newsWrp .slider .title a, .newsWrp .intro .title a, .newsWrp .index_custom .title a, span.pagenavi a, .Content-bottom span a, form[name=urlchk] input[type=submit], ul#pbox li div .more::before, ul#pbox_result li div .more::before { font-family: "Poppins", Microsoft JhengHei, "Titillium Web", sans-serif; font-style: normal; font-weight: 700; -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; border: 0.2em solid #CBCBD2; background-color: #FFFFFF; color: #CBCBD2; display: block; height: auto; line-height: normal; padding: 0.35em 1.5em; text-align: center; text-decoration: none; text-transform: uppercase; -webkit-appearance: none; }
input[type="button"]:hover, input[type="submit"]:hover, .newsWrp .news .title a:hover, .newsWrp .slider .title a:hover, .newsWrp .intro .title a:hover, .newsWrp .index_custom .title a:hover, span.pagenavi a:hover, .Content-bottom span a:hover, form[name=urlchk] input[type=submit]:hover, ul#pbox li div .more:hover::before, ul#pbox_result li div .more:hover::before { cursor: pointer; opacity: 1; border: 0.2em solid #517c2a; color: #517c2a; }
input[type="button"]:focus, input[type="submit"]:focus, .newsWrp .news .title a:focus, .newsWrp .slider .title a:focus, .newsWrp .intro .title a:focus, .newsWrp .index_custom .title a:focus, span.pagenavi a:focus, .Content-bottom span a:focus, form[name=urlchk] input[type=submit]:focus, ul#pbox li div .more:focus::before, ul#pbox_result li div .more:focus::before { border: 0.2em solid #517c2a; outline: none; text-decoration: none; color: #517c2a; }
input[type="button"]:active, input[type="submit"]:active, .newsWrp .news .title a:active, .newsWrp .slider .title a:active, .newsWrp .intro .title a:active, .newsWrp .index_custom .title a:active, span.pagenavi a:active, .Content-bottom span a:active, form[name=urlchk] input[type=submit]:active, ul#pbox li div .more:active::before, ul#pbox_result li div .more:active::before { opacity: 1; }

form table, form textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type="button"], input[type="submit"] { display: inline-block; }

/* Tables */
table { width: 100%; }
table.default { width: 100%; }
table.default tr { border-top: solid 1px #dddddd; }
table.default tr:first-child { border-top: 0; }
table.default td { padding: 0.5em 1em 0.5em 1em; }
table.default th { text-align: left; padding: 0.5em 1em 0.5em 1em; font-weight: 700; margin: 0 0 1em 0; }
table.default thead { border-bottom: solid 2px #dddddd; }

/*Layout*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }

html, body { position: relative; background-color: #FFFFFF; margin: 0 auto; max-width: 100%; font-size: 1em; }
@media (max-width: 425px) { html, body { font-size: 14px; } }
@media (min-width: 1200px) { html, body { font-size: 16px; } }

body.is-loading * { -moz-transition: none !important; -webkit-transition: none !important; -ms-transition: none !important; transition: none !important; -moz-animation: none !important; -webkit-animation: none !important; -ms-animation: none !important; animation: none !important; }

.headWrp { position: fixed; top: 0; -webkit-box-shadow: 0 1px 5px -1px rgba(63, 63, 68, 0.5); -moz-box-shadow: 0 1px 5px -1px rgba(63, 63, 68, 0.5); -o-box-shadow: 0 1px 5px -1px rgba(63, 63, 68, 0.5); box-shadow: 0 1px 5px -1px rgba(63, 63, 68, 0.5); width: 100%; max-width: 100%; background: #FFFFFF; z-index: 2000; }
.headWrp .head { position: relative; max-width: 1440px; margin: 0 auto; text-align: center; }
.headWrp .head .lgg { position: absolute; top: 1em; right: 2em; }
.headWrp .head .lgg select, .headWrp .head .lgg select > option { display: none; }
.headWrp .head .logo, .headWrp .head .menu { display: inline-block; }
.headWrp .head .logo { width: 100%; padding: 2em 0; }
.headWrp .head .logo a { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; font-size: 1.3em; line-height: 1.5em; letter-spacing: 1px; text-transform: uppercase; }

.ins .headWrp { background-color: #91b254; }

.contentWrp { max-width: 100%; }
.contentWrp .content { max-width: 1440px; margin: 0 auto; }

.footWrp { border-top: 1px solid #E7E7EC; padding: 2em 1em 1em 1em; }
.footWrp .foot { font-size: 0.9em; width: 100%; height: auto; text-align: center; }
.footWrp, .footWrp a { color: #4E342E; }
@media (min-width: 992px) { .footWrp { background-color: #3F3F44; border-top: 0; }
  .footWrp, .footWrp a { color: #FFFFFF; }
  .footWrp a:hover { color: #517c2a; }
  .footWrp #hostingUrlTw { text-align: right; padding-right: 20px; opacity: .5; } }

#titleBar, #navPanel { display: none; }

#subemail { border: 1px solid #ccc; width: 100%; margin: 5px 0; }

#scrollator_holder { display: none; }

/*Typography*/
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { font-family: "Poppins", Microsoft JhengHei, "Titillium Web", sans-serif; font-style: normal; font-weight: 400; font-size: 1em; line-height: 1.5em; overflow-x: hidden; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { font-family: "Poppins", Microsoft JhengHei, "Titillium Web", sans-serif; font-style: normal; font-weight: 700; color: #3F3F44; line-height: 1.0; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

p { font-family: "Poppins", Microsoft JhengHei, "Titillium Web", sans-serif; font-style: normal; font-weight: 400; font-size: 1em; line-height: 1.5em; color: #3F3F44; line-height: 1.5em; margin-bottom: 10px; }

li, dd { font-size: 1em; line-height: 1.5em; line-height: normal; }

a { font-family: inherit; font-style: normal; font-weight: 400; color: #3F3F44; text-decoration: none; }
a:hover { color: #517c2a; }
a:active, a:focus { outline: none; }

/*Menu*/
.dmSubmenu table { position: relative; }
.dmSubmenu table td { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; line-height: 1.1em; }
.dmSubmenu table td:hover { cursor: pointer; }

.dmText1 { color: #3F3F44; }

.dmText2 { color: #517c2a; }

#dm0m0 .dmSubmenu { padding-bottom: 1em; }
#dm0m0 .dmSubmenu table td { padding-right: 1.5em; text-align: center; }

.caret { position: relative; }
.caret::after { text-decoration: none; content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; display: block; margin: 0 auto; padding: 0; }

#dmD0 .dmSubmenu { width: auto; margin: 0 auto; padding: 0; font-size: 0.9em; }
#dmD0 .dmSubmenu table { position: relative; -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; background: rgba(255, 255, 255, 0.8); margin-bottom: .15em; text-align: left; }
#dmD0 .dmSubmenu table td { padding: .75em 2em; }
#dmD0 .dmSubmenu table:hover { background: rgba(63, 63, 68, 0.8); }
#dmD0 .dmSubmenu table:hover td { color: #FFFFFF; }

/*Banners*/
.idx .bannerWrp .banner { position: relative; opacity: 0; visibility: hidden; animation: slideUp .75s forwards, fadeIn .3s forwards; padding-bottom: 50%; width: 100%; height: 0; background: url(images/idx_banner.jpg) left top no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden; }
.idx .bannerWrp .banner img { width: 100%; min-width: 100%; }

.ins .bannerWrp { position: relative; padding-bottom: 25%; height: 0; overflow: hidden; }
.ins .bannerWrp > figure { position: absolute; top: 0; left: 0; width: 100%; max-width: 100%; height: 100%; }
.ins .bannerWrp > figure img { width: 100%; height: 100%; }
.ins .bannerWrp > #banner-wrapper-img { width: 100%; }

@media (min-width: 991px) { .idx .bannerWrp, .ins .bannerWrp { margin-top: 9em; } }
/*NewsWrp*/
.newsWrp .news .title, .newsWrp .slider .title, .newsWrp .intro .title, .newsWrp .index_custom .title { position: relative; padding: .5em 0; font-size: 1.25em; font-weight: 600; letter-spacing: 1px; line-height: 2.25em; }
.newsWrp .news .title::after, .newsWrp .slider .title::after, .newsWrp .intro .title::after, .newsWrp .index_custom .title::after { display: block; width: 3em; content: ' '; border-bottom: 0.2em solid #CBCBD2; }
.newsWrp .news .title a, .newsWrp .slider .title a, .newsWrp .intro .title a, .newsWrp .index_custom .title a { position: absolute; top: 0.35em; right: 0; display: block; }
.newsWrp .news .title a::after, .newsWrp .slider .title a::after, .newsWrp .intro .title a::after, .newsWrp .index_custom .title a::after { content: 'more'; text-transform: uppercase; font-size: 0.9em; }
.newsWrp .news .title a:hover::after, .newsWrp .slider .title a:hover::after, .newsWrp .intro .title a:hover::after, .newsWrp .index_custom .title a:hover::after { border-color: #517c2a; color: #517c2a; }

.newsWrp { width: 100%; max-width: 940px; margin: 0 auto; }
.newsWrp .news { margin: 5% 0; }
.newsWrp .slider { margin: 5% 0; }
.newsWrp .intro { margin: 5% 0; }
.newsWrp .index_custom { margin: 5% 0; }

.news p { position: relative; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: .25em 0; max-width: 100%; }
.news p a, .news p span { line-height: 2.5em; }
.news p span { position: absolute; left: 0; width: 7em; background-color: #517c2a; color: #FFFFFF; text-align: center; }
.news p a { margin-left: 7.5em; max-width: 100%; }
@media (min-width: 770px) { .news p a { margin-left: 8em; }
  .news p a::after { position: absolute; right: 0; background-color: #FFFFFF; content: 'read more'; border-left: 0.2em solid #E0E1E9; color: #517c2a; padding: 0 1em; } }
@media (max-width: 769px) { .news p a { border-bottom: 3px solid #E7E7EC; padding-bottom: .25em; } }
.news p:hover span { background-color: #3F3F44; }

span.forward, span.backward { position: absolute; top: 50%; cursor: pointer; color: #CBCBD2; }
span.forward::before, span.backward::before { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; font-size: 3.75em; }

span.forward:hover, span.forward:active { -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25); color: #517c2a; }

span.backward:hover, span.backward:active { -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25); color: #517c2a; }

.slider { position: relative; }
.slider .forward { text-decoration: none; right: -4.35%; }
.slider .forward::before { content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }
.slider .backward { text-decoration: none; left: -4.35%; }
.slider .backward::before { content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }

section.carousel { padding: 1em 0; overflow: hidden; background-color: #FFFFFF; }

.reel { width: 100%; height: auto; white-space: nowrap; -webkit-overflow-scrolling: touch; }
.reel article { display: inline-block; width: 31%; height: auto; vertical-align: top; position: relative; white-space: normal; opacity: 1.0; margin-right: 2.5%; text-align: center; }
.reel article.loading { opacity: 0; }
.reel article::after { position: absolute; bottom: 0; left: 0; content: ' '; width: 45%; border-bottom: 0.2em solid #CBCBD2; }
.reel article .image { position: relative; display: block; width: 100%; height: auto; overflow: hidden; background-color: #3F3F44; }
.reel article .image::before { position: absolute; top: 45%; left: 45%; text-decoration: none; content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; z-index: 999; color: #FFFFFF; font-size: 1.75em; opacity: 0; }
.reel article .image img { width: 100%; }
.reel article header h3, .reel article p { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; line-height: 1.75em; }
.reel article header h3 { color: #517c2a; padding-top: .25em; }
.reel article header h3 a { font-size: 1.5em; }
.reel article p { color: #9C9C9C; padding-bottom: 1em; }
.reel article:hover header h3 a { color: #517c2a; }
.reel article:hover > .image::before { text-shadow: 1px 1px 2px #3F3F44, 0 0 1em #3F3F44; opacity: 1; }
.reel article:hover > .image > img { -webkit-filter: contrast(125%); filter: contrast(125%); opacity: .45; }
.reel article:hover::after { width: 100%; border-color: #517c2a; }

.intro { padding-bottom: 2em; }
.intro .img, .intro .ctns { display: inline-block; vertical-align: top; margin-top: 1em; }
.intro .img { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; width: 50%; margin-right: -1%; }
.intro .img img { width: 100%; }
.intro .ctns { line-height: 1.8em; width: 50%; }
.intro .ctns span { display: block; padding-left: 1em; text-align: justify; }
.intro .ctns .more { display: inline-block; padding: .5em 2em; background-color: #517c2a; color: #FFFFFF; letter-spacing: 1px; }
.intro .ctns .more:hover { background-color: #3F3F44; }

.index_custom { display: none; opacity: 0; visibility: hidden; }

.title a::after, .news p a, .news p span, .reel article, .reel article::after, .reel .image::before, .reel .image img, .reel header h3 > a, .intro .more { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; }

/*ContentWrp*/
.contentWrp { position: relative; width: 940px; margin: 0 auto; }
.contentWrp .content { direction: rtl; padding: 2em 0; }
.contentWrp .sideBar, .contentWrp .main { display: inline-block; vertical-align: top; direction: ltr; }
.contentWrp .sideBar { margin-left: 2.5%; width: 30%; }
.contentWrp .main { width: 65%; }
.contentWrp .scrollator { overflow: hidden !important; }

/*ContentWrp-sideBar*/
.sideBar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #F2F3F8; }
.sideBar ul, .sideBar li, .sideBar a { display: block; }
.sideBar ul { padding-left: 1em; }
.sideBar li { margin: .15em 0; padding: .15em 0; }
.sideBar a { color: #FFFFFF; text-decoration: none; padding: 0.2em 1.5em 0.2em 1.5em; line-height: 1.7em; font-size: 0.95em; }
.sideBar a:hover { color: #FFFFFF; }
.sideBar .sideHd, .sideBar .Ptitle { font-size: 1em; line-height: 2em; margin-bottom: 1em; }
.sideBar .sideHd::after, .sideBar .Ptitle::after { display: block; width: 1.5em; content: ' '; border-bottom: 0.2em solid #517c2a; }
.sideBar .sideFt, .sideBar br { display: none; opacity: 0; visibility: hidden; }

.sbmenu { background-color: #3F3F44; color: #FFFFFF; }
.sbmenu a:hover { text-shadow: 1px 1px 3px #000000; }
.sbmenu ul ul li { border-bottom: 1px dashed rgba(242, 243, 248, 0.25); }
.sbmenu ul ul li:nth-last-of-type(1) { border-bottom: 0; }
.sbmenu li { position: relative; }
.sbmenu li::before { display: block; width: 1.1em; height: 1.1em; margin: .35em 0 0 .25em; position: absolute; left: 0; top: 0; z-index: 999; font-family: FontAwesome; text-align: center; line-height: 1.2em; content: '\f0da'; color: #FFFFFF; }
.sbmenu li.on::before { color: #517c2a; }
.sbmenu li.on > a { color: #517c2a; font-weight: bold; }
.sbmenu li.on > a::after { color: #517c2a; }
.sbmenu a.hsub { position: relative; }
.sbmenu a.hsub::after { display: block; width: 1.75em; height: 1.75em; padding: .2em .25em 0 0; text-align: right; position: absolute; top: 0; right: 0; content: '\f055'; font-family: FontAwesome; color: #FFFFFF; z-index: 999; }

.others .sideHd { display: none; opacity: 0; visibility: hidden; }
.others a { color: #3F3F44; padding: 0 0 .5em 0; }
.others a:hover { color: #517c2a; }
.others ul li { margin-top: 1.5em; padding: 1em 0; max-width: 100%; overflow: hidden; border-bottom: 0; }
.others ul li:nth-of-type(1) { padding-top: 0; margin-top: 0; }
.others .Pcontent .sideA { line-height: 1.1em; }
.others .Pcontent .sideA[target=_blank]::after { text-decoration: none; content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; margin-left: .15em; font-size: .9em; color: #517c2a; }

.sbmenu, .others { padding: 1em; }
.sbmenu > ul, .others > ul { padding-left: 0; }

.sbmenu:empty, .sbmenu ul:empty, .sbmenu li:empty, .sbmenu .sideHd:empty, .sbmenu .Ptitle:empty, .sbmenu .Pcontent:empty, .sbmenu .Pfoot:empty, .others:empty, .others ul:empty, .others li:empty, .others .sideHd:empty, .others .Ptitle:empty, .others .Pcontent:empty, .others .Pfoot:empty { display: none; opacity: 0; visibility: hidden; }

/*ContentWrp-main*/
.marquee { position: absolute; top: -0.5em; right: 0; width: 100%; font-size: .9em; color: #335500; }

.mainHd { font-size: 1.25em; padding-bottom: 1em 0; line-height: 1.5em; }
.mainHd > a.titleA, .mainHd span a { color: #517c2a; }
.mainHd span::before { content: '/'; color: #91b254; }
.mainHd span:nth-last-of-type(1) > a:nth-last-of-type(1) { color: #3F3F44; }
.mainHd strong { color: #9C9C9C; font-size: .8em; }
.mainHd:empty { display: none; }
.mainHd::after { display: block; width: 3em; content: ' '; border-bottom: 0.2em solid #CBCBD2; margin-top: .5em; }

h1.ContentTitle { text-decoration: none; margin: 0 auto; padding: 0; color: #335500; font-size: 1.25em; padding-bottom: .5em; line-height: 1.5em; font-weight: normal; }
h1.ContentTitle::before { content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }

.mainCt { margin-top: 3%; word-wrap: break-word; }
.mainCt img { max-width: 100%; }
.mainCt .product { margin: 0 auto; padding: 0; }
.mainCt .product label { display: inline-block; vertical-align: top; width: 50%; float: left; margin: 0 1em .5em 0; }
.mainCt .product label img { width: 100%; }
.mainCt .product input[type="button"] { font-size: 1em; }
.mainCt .product a.titleA { color: #FFFFFF; background: #3F3F44; padding: .3em .5em; }
.mainCt .product p.first-p { font-size: .9em; }
.mainCt .product p.first-p b { font-weight: bold; }
.mainCt .product p.first-p a { color: #9C9C9C; font-style: inherit; }
.mainCt .product p.first-p a:hover { color: #517c2a; }
.mainCt .product p:empty, .mainCt .product .first-p:empty { opacity: 0; visibility: hidden; display: none; }
.mainCt .product .cfpdiv { display: inline-block; width: 45%; margin: .5em 0; padding: .5em 1em; border: 1px solid #3F3F44; }
.mainCt .product .cfpdiv, .mainCt .product .cfpdiv .cfp { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.5em; }
.mainCt .product .cfpdiv b { color: #3F3F44; }
.mainCt .product .cfpdiv input { border: 1px solid #DDDDDD; background-color: #F5F5F5; height: 1.5em; }
.mainCt .product .cfpdiv .cfp { position: relative; font-size: .85em; }
.mainCt .product .cfpdiv .cfp span { display: block; padding: .15em .25em; }
.mainCt .product .cfpdiv .cfp span select { background-color: #FFFFFF; border: 1px solid #DDDDDD; color: #3F3F44; }
.mainCt .product .cfpdiv .cfp .removecf { position: absolute; top: 0.5em; right: 0; }
.mainCt .product .cfpdiv .cfp input[name=cf_qty] { position: absolute; top: 0.5em; right: 2em; background-color: #FFFFFF; margin: 0; padding: 0; }

ul.dates li { position: relative; margin-bottom: .5em; }
ul.dates li span, ul.dates li h3 { display: inline-block; vertical-align: middle; line-height: 2em; }
ul.dates li:nth-last-of-type(1) { margin-bottom: 2em; }
ul.dates li:hover span, ul.dates li:hover h3::before { background-color: #3F3F44; }
ul.dates span, ul.dates.cust h3::before { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; text-align: center; font-size: 1em; background-color: #517c2a; color: #FFFFFF; }
ul.dates span { width: 20%; }
ul.dates h3 { font-size: 1.15em; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
ul.dates h3 a::after { position: absolute; top: 0; right: 0; background-color: #FFFFFF; content: 'read more'; border-left: 0.2em solid #E0E1E9; color: #517c2a; padding-left: 1em; }
ul.dates.cust h3::before { text-decoration: none; content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; display: inline-block; padding: 0 .5em; }

ul.dates h3 { max-width: 55%; }
ul.dates.cust h3 { max-width: 80%; }

span.pagenavi, .Content-bottom span { display: block; width: 100%; margin-top: 1.5em; padding: 0.5em 0; text-align: center; }
span.pagenavi a, .Content-bottom span a { display: inline-block; margin: 0 0.15em; }

form[name=urlchk] { background-color: #F2F3F8; margin: .5em 0; padding: .5em; }
form[name=urlchk] .ctus { margin: 0 auto; padding: 0; }
form[name=urlchk] .ctus tr { border-bottom: 1px solid #E7E7EC; padding: 1em; }
form[name=urlchk] .ctus tr td:nth-of-type(1) { margin: 0 auto; padding: 0; width: 30%; color: #9C9C9C; padding: 0 .5em 0 1em; vertical-align: middle; }
form[name=urlchk] .ctus tr td:nth-of-type(2) { width: 70%; padding: .5em 0; }
form[name=urlchk] .ctus tr:nth-last-of-type(1) { border-bottom: 0; }
form[name=urlchk] input[type=text], form[name=urlchk] textarea { -webkit-transition: border 0.4s ease; -moz-transition: border 0.4s ease; -ms-transition: border 0.4s ease; transition: border 0.4s ease; background-color: #FFFFFF; border: 1px solid #DDDDDD; padding: .15em .5em; font-size: 1em; outline: none; }
form[name=urlchk] input[type=text]:hover, form[name=urlchk] input[type=text]:focus, form[name=urlchk] textarea:hover, form[name=urlchk] textarea:focus { -webkit-box-shadow: 0 1px 5px -1px #CBCBD2; -moz-box-shadow: 0 1px 5px -1px #CBCBD2; -o-box-shadow: 0 1px 5px -1px #CBCBD2; box-shadow: 0 1px 5px -1px #CBCBD2; border: 1px solid #517c2a; }
form[name=urlchk] textarea { min-height: 2em; max-width: 100%; }
form[name=urlchk] input[type=text] { height: 1.5em; }
form[name=urlchk] input[type=submit] { margin-top: 1em; width: 50%; font-size: 1em; outline: none; }
form[name=urlchk] input[type=submit]:hover, form[name=urlchk] input[type=submit]:focus { background-color: #517c2a; color: #FFFFFF; }

form[name=sorder] { overflow-x: scroll; }
form[name=sorder] input[type=submit]:hover, form[name=sorder] input[type=submit]:focus { background-color: #517c2a; color: #FFFFFF; }

.ContentAuthor { display: inline-block; font-size: 0.8em; vertical-align: middle; padding: .5em 0; }
.ContentAuthor a { margin: 0 auto; padding: .5em; text-decoration: none; }
.ContentAuthor a::after { display: none; }
.ContentAuthor a:nth-of-type(1) { text-decoration: none; }
.ContentAuthor a:nth-of-type(1)::before { content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }
.ContentAuthor a:nth-of-type(2) { text-decoration: none; }
.ContentAuthor a:nth-of-type(2)::before { content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }

.search { padding: .5em 0; }
.search #search_loading { color: #3F3F44; }
.search #search_toolbar span, .search #search_toolbar span select, .search #search_toolbar input { margin: 0; padding: 0; outline: none; display: inline-block; vertical-align: middle; }
.search #search_toolbar select, .search #search_toolbar input { height: 2em; font-size: .85em; line-height: 2em; padding: 0 .25em; }
.search #search_toolbar select { border: 1px solid #CBCBD2; }
.search #search_toolbar input { margin-right: .25em; border: 0; }
.search #search_toolbar input[type=text] { background-color: #F2F3F8; }
.search #search_toolbar input[type=button] { padding: 0 1em; font-weight: normal; background-color: #517c2a; color: #FFFFFF; }

ul#pbox, ul#pbox_result { width: 100%; overflow: hidden; }
ul#pbox li, ul#pbox_result li { position: relative; display: inline-block; padding: 1em 0; margin-bottom: 2.5em; }
ul#pbox li::after, ul#pbox_result li::after { position: absolute; bottom: 0; left: 0; content: ' '; width: 45%; border-bottom: 0.2em solid #CBCBD2; }
ul#pbox li label a, ul#pbox_result li label a { display: block; }
ul#pbox li label a img, ul#pbox_result li label a img { width: 100%; }
ul#pbox li div h4, ul#pbox li div b, ul#pbox li div a.pd_link, ul#pbox li div p, ul#pbox_result li div h4, ul#pbox_result li div b, ul#pbox_result li div a.pd_link, ul#pbox_result li div p { line-height: 1.1em; margin: .25em 0; }
ul#pbox li div h4, ul#pbox_result li div h4 { font-size: 1.5em; }
ul#pbox li div strong, ul#pbox_result li div strong { display: inline-block; background-color: #FF5454; padding: 0 .25em; color: #FFFFFF; }
ul#pbox li div p, ul#pbox_result li div p { color: #ACACB4; font-weight: normal; }
ul#pbox li div br, ul#pbox_result li div br { display: none; opacity: 0; visibility: hidden; }
ul#pbox li div .more::before, ul#pbox_result li div .more::before { content: 'more'; text-transform: uppercase; z-index: 999; }
ul#pbox li:hover::after, ul#pbox_result li:hover::after { width: 100%; border-color: #517c2a; }
ul#pbox li:hover div h4 a, ul#pbox_result li:hover div h4 a { color: #517c2a; }
ul#pbox li:hover .more::before, ul#pbox_result li:hover .more::before { border-color: #517c2a; color: #517c2a; }
ul#pbox li::after, ul#pbox li div, ul#pbox li .more::before, ul#pbox_result li::after, ul#pbox_result li div, ul#pbox_result li .more::before { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; }

ul#pbox.product-list > li, ul#pbox_result.product-list > li { width: 100%; }
ul#pbox.product-list > li:nth-last-of-type(1), ul#pbox_result.product-list > li:nth-last-of-type(1) { margin-bottom: 0; }
ul#pbox.product-list > li label, ul#pbox_result.product-list > li label { display: inline-block; width: 15%; vertical-align: top; margin-right: -1%; }
ul#pbox.product-list > li div, ul#pbox_result.product-list > li div { display: inline-block; width: 65%; vertical-align: top; padding-left: 2%; }
ul#pbox.product-list > li div h4, ul#pbox_result.product-list > li div h4 { margin-top: 0; }
ul#pbox.product-list > li .more, ul#pbox_result.product-list > li .more { position: absolute; top: 1em; right: 0; }
ul#pbox.product-pic > li, ul#pbox_result.product-pic > li { width: 47%; vertical-align: top; margin-right: 1%; }
ul#pbox.product-pic > li label, ul#pbox_result.product-pic > li label { width: 100%; }
ul#pbox.product-pic > li div p, ul#pbox_result.product-pic > li div p { opacity: 0; visibility: hidden; display: none; }
ul#pbox.product-pic > li .more, ul#pbox_result.product-pic > li .more { position: absolute; top: 10%; right: 5%; }

.mainCt ul li div a.pd_link img, .mainCt .product a.titleC img { display: none; opacity: 0; visibility: hidden; }
.mainCt ul li div a.pd_link[target=_blank]::after, .mainCt .product a.titleC[target=_blank]::after { text-decoration: none; content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }

/*Media Queries*/
@media (max-width: 991px) { body { padding-top: 50px; }
  .headWrp { position: static; height: 0; }
  .headWrp .head { height: 0; padding: 0; }
  .logo { display: block; }
  .logo a { position: absolute; top: 0.75em; left: 0.75em; z-index: 999; color: #FFFFFF; text-shadow: 0 0 3px #3F3F44; line-height: 1.5em; }
  .lgg, .menu { display: none; opacity: 0; visibility: hidden; }
  .newsWrp { width: 98%; }
  .reel article { width: 48%; }
  .contentWrp { min-height: 60vh; }
  .contentWrp .content { width: 95%; }
  .contentWrp .sideBar { display: none; opacity: 0; visibility: hidden; margin-right: 0; }
  .contentWrp .main { width: 100%; }
  .mainCt { margin: 0 auto; padding: .5em 0; }
  #titleBar { -webkit-box-shadow: 0 1px 5px -1px #CBCBD2; -moz-box-shadow: 0 1px 5px -1px #CBCBD2; -o-box-shadow: 0 1px 5px -1px #CBCBD2; box-shadow: 0 1px 5px -1px #CBCBD2; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; display: block; height: 50px; left: 0; position: fixed; top: 0; width: 100%; z-index: 3000; background: #FFFFFF; }
  #titleBar .toggle { width: 70px; height: 50px; z-index: 3001; position: absolute; top: 0; left: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  #titleBar .toggle::before { content: '\f0c9'; display: block; position: absolute; font-family: FontAwesome; color: #3F3F44; left: 10px; top: 15px; font-size: 1.5em; }
  #navPanel { -webkit-box-shadow: 0 1px 5px -1px #CBCBD2; -moz-box-shadow: 0 1px 5px -1px #CBCBD2; -o-box-shadow: 0 1px 5px -1px #CBCBD2; box-shadow: 0 1px 5px -1px #CBCBD2; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -moz-transform: translateX(-275px); -webkit-transform: translateX(-275px); -ms-transform: translateX(-275px); transform: translateX(-275px); display: block; height: 100%; left: 0; overflow-y: auto; position: fixed; top: 0; width: 275px; z-index: 9990; color: #3F3F44; background: #3F3F44; box-shadow: inset -3px 0px 5px 0px rgba(0, 0, 0, 0.35); }
  #navPanel nav { font-weight: normal; }
  #navPanel nav > a.link { -webkit-transition: all 225ms ease-in; -moz-transition: all 225ms ease-in; -ms-transition: all 225ms ease-in; transition: all 225ms ease-in; display: block; color: #FFFFFF; text-decoration: none; height: 44px; line-height: 44px; border-top: solid 1px rgba(255, 255, 255, 0.05); padding: 0 1em 0 1em; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
  #navPanel nav > a.link:first-child { border-top: 0; }
  #navPanel nav > a.link:last-child { margin-bottom: 25vh; }
  #navPanel nav > a.link span { display: inline-block; }
  #navPanel nav > a.link span.indent-1 { width: 1em; }
  #navPanel nav > a.link span.indent-2 { width: 2em; }
  #navPanel nav > a.link span.indent-3 { width: 3em; }
  #navPanel nav > a.link span.indent-4 { width: 4em; }
  #navPanel nav > a.link span.indent-5 { width: 5em; }
  #navPanel nav > a.link:hover, #navPanel nav > a.link:active { background-color: #517c2a; color: #FFFFFF; }
  #navPanel nav > a.depth-0 { position: relative; font-weight: bold; }
  #navPanel nav > a.depth-0::after { text-decoration: none; content: ""; display: inline-block; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; position: absolute; top: 0; right: 1em; display: inline-block; }
  body.navPanel-visible .bodyWrp, body.navPanel-visible .footWrp, body.navPanel-visible #titleBar, body.navPanel-visible #lhc_status_container { -moz-transform: translateX(275px); -webkit-transform: translateX(275px); -ms-transform: translateX(275px); transform: translateX(275px); }
  body.navPanel-visible #navPanel { -moz-transform: translateX(0); -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  .bodyWrp, .footWrp, #titleBar, #navPanel, #lhc_status_container { -moz-transition: -moz-transform 0.5s ease; -webkit-transition: -webkit-transform 0.5s ease; -ms-transition: -ms-transform 0.5s ease; transition: transform 0.5s ease; } }
@media (max-width: 769px) { .newsWrp section.carousel { width: 85%; margin: 0 auto; }
  .newsWrp .slider .forward { right: 0; }
  .newsWrp .slider .backward { left: 0; }
  .newsWrp .intro .img, .newsWrp .intro .ctns { display: block; width: 100%; }
  .newsWrp .intro .ctns span { padding-left: 0; } }
@media (max-width: 500px) { span.forward::before, span.backward::before { font-size: 2.75em; }
  .newsWrp, .contentWrp { max-width: 300px; }
  .reel article { width: 100%; }
  .newsWrp .news p a::after, ul.dates h3 a::after { display: none; opacity: 0; visibility: hidden; }
  .contentWrp .content { width: 100%; }
  form[name=urlchk] { padding: .5em 0; }
  ul.dates h3 { max-width: 75%; }
  ul.dates.cust h3 { max-width: 93%; }
  ul#pbox.product-list > li label, ul#pbox.product-list > li div, ul#pbox_result.product-list > li label, ul#pbox_result.product-list > li div { display: block; width: 100%; }
  ul#pbox.product-list > li div, ul#pbox_result.product-list > li div { padding: .5em 0 0 0; }
  ul#pbox.product-list > li .more, ul#pbox_result.product-list > li .more { top: 10%; right: 5%; }
  ul#pbox.product-pic > li b, ul#pbox.product-pic > li strong, ul#pbox_result.product-pic > li b, ul#pbox_result.product-pic > li strong { display: block; }
  #content-body .product label { width: 100%; }
  #content-body .product label img { width: 100%; }
  #content-body .product .cfpdiv { width: 100%; }
  .ContentAuthor { width: 100%; margin: auto; padding: 1.75em 0 .5em 0; font-size: .7em; text-align: right; }
  .search { margin-top: 2em; text-align: right; background-color: #F2F3F8; }
  .search #search_toolbar { text-align: center; }
  .search #search_toolbar span { width: 35%; }
  .search #search_toolbar span select { width: 100%; }
  .search #search_toolbar input[type=text] { width: 60%; background-color: #FFFFFF; }
  .search #search_toolbar input[type=button] { margin-top: .5em; width: 30%; } }
@media(max-width: 768px){

html,body{overflow-x: hidden;}
}
/*# sourceMappingURL=layout.css.map */
@media(max-width: 1024px){
.lgg select, .lgg select > option {display : inline-block!important;}
}
@media (max-width: 768px) {
.lgg select, .lgg select > option { display : none!important;}
}
@media(min-width: 1130px){ main{ display: block; } }
.live__icon { position: fixed; z-index: 99999; top: 2.5rem; left: 2.5rem; } .live__icon img { width: 110%; box-shadow: 0.5px 0.5px 5px #ec9696e6; -webkit-animation: breath 3s infinite ease-in-out alternate; animation: breath 3s infinite ease-in-out alternate;  } @-webkit-keyframes breath { 0% {opacity: .2;}70% {opacity: 1;}to {opacity: .2;} } @keyframes breath { 0% {opacity: .2;}70% {opacity: 1;}to {opacity: .2;} } @media(max-width: 768px){ .live__icon { top: 8rem; left: 1rem; } .live__icon img { width: 80%; }
